/* Tag Selectors */
h1,p{
    color: red;
    font-family:cursive;
}
img{
    height: 200px;
    width: 200px;
    /* background-color: aqua; */
    
}
img:hover{
    background-color: rgb(255, 234, 0);
    border-style: solid;
    border-color: red;
}
p:hover{
    background-color: orangered;
    color: aliceblue;
}

/* Class Selectors */
.Ram{
    background-color: aqua;
}
.flower{
    background-color: pink;
}

.spiderMan{
    /* height: 100px; */
    /* width: 200px; */
    background-color: rgb(7, 0, 0);
}

.spiderMan{
    border-radius: 100px;
}

.circular:hover{
    background-color: yellow;
    motion: auto;
    cursor: all-scroll;
    text-align: center;
}
.heading{
    animation: backwards;
}

/* ID Selector */
#firstLine{
    font-family: sans-serif;
}