body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    



}
h1{
    font-size: 5.625rem;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    margin-bottom: 0%;
    color: #66bfbf;

}

h2{
    color: #66bfbf;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
div{
    /* background-color: #E4F9F5; */
    /* margin-right: 20px;
    margin-left:0cm; */

    /* border:solid; */
    /* border-top:0px;
    border-right:  */
    /* margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px; */
    
}
.top-container{

    /* height: 200px; */
    /* width:200px; */
    /* border: solid 10px; */

    padding-top: 100px;
    background-color: #E4F9F5;
    position: relative;
}

.pro{
    text-decoration: underline;
    /* color: rgb(255, 149, 0); */
    height: 20px;
}
.pro:hover{
    text-decoration: solid;
    visibility: hidden;
}

.skill-row{
    width: 50%;
    /* display: inline-block; */
    /* margin:auto;     */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.middle-container{
    
}

.bottom-container{
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}


.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.code-img{
    width: 25%;
    float: right;
    margin-left:30px
}


.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    
}

a{
    color: #11999E;
}