body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;



}
h1{

    margin-top: 0;
    font-family: 'Sacramento', cursive;

}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}
div{
    background-color: #E4F9F5;
    /* margin-right: 20px;
    margin-left:0cm; */

    /* border:solid; */
    /* border-top:0px;
    border-right:  */
    /* margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px; */
    
}
.top-container{

    /* height: 200px; */
    /* width:200px; */
    /* border: solid 10px; */

    padding-top: 100px;
    background-color: #E4F9F5;
    position: relative;
}

.pro{
    text-decoration: underline;
    color: rgb(255, 149, 0);
    height: 20px;
}
.pro:hover{
    text-decoration: solid;
    visibility: hidden;
}

img{
  
}

.middle-container{
    background-color: orange;
    height: 200px;
    width: 200px;

    /* border:20px; */
    
}

.bottom-container{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}